.App {
  /* background-color: #20889b; */
  height: 100%;
  background-color: rgb(168, 210, 247);
  /* color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center; */
}

body {
  height: 100%;
  background-color: rgb(168, 210, 247);

}

/* Navbar styling */
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
}
ul.nav li {
  float: left;
}
ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.nav li a:hover {
  background-color: #111;
}
ul.nav p {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: larger;
}

#logo {

}

/* Home page */
#home-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 80px;
}

h1.App.title {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: xx-large;
  margin-top: 50px;
  margin-bottom: 5px;
  color: purple
}

p.App.description {
  text-align: center;
  font-size: medium;
  margin-bottom: 25px;
}

#about-us {
  margin-left: 15px;
}

#home-carousel {
  width: 250px;
}

/* Login & Register Form */
form.home {
  text-align: center;
}

input.home.input {
  margin-top: 5px;
}

input.home.submit {
  margin-top: 15px;
}

h1.home.form.name {
  margin-top: 15px;
  margin-bottom: 20px;
}

/* Neighborhoods Container styling */
img.neighborhoods {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 80px;
}
.ui.three.cards {
  padding-top: 0px;
  padding-right: 75px;
  padding-bottom: 50px;
  padding-left: 80px;
  align-items: flex-start;
}

#neighborhood {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

#neighborhood:hover {
  background-color: rgb(255, 238, 0);
}

.center.aligned.header {
  font-size: medium;
}

/* Spots Container */
#spotName {
  text-align: center;
}

#spot-container {
  text-align: center;
  width: 200px;
  margin: auto;
}

/*
#spot-search {
  width: 100px;
  float: left;
  height: 300px;
}
*/

#category-filter {
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#spot {
  padding-top: 50px;
  padding-right: 75px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#spot:hover {
  background-color: rgb(255, 208, 147);
}

/* Spot Recommendation Container */
#delete-recommendation {
  padding-bottom: 10px;
}